html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: grid;
  }
  
  #disp {
    height:550px ;
    width:1400px;
    margin: auto;
  position:fixed;
  }
  
  #menu {
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 10px;
  }
  
  #menu input {
    width: 50px;
  }
  
  button {
    margin-bottom: 5px;
  }
  .container {
    border: 2px solid red; /* Red border */
    width: 80%; /* Set width */
    height:550px; /* Set height */
    margin: auto; /* Center container */
  }
  
  .controls {
    text-align: left;
    margin-top: 20px;
    position:relative;
    left:150px;
  }
  